{% extends './base.html' %}

{% block title %}My Projects{% endblock title %}

{% block content %}

		<section class="projects">
			<div class="projects__bio-image">
				<h1 class="text-secondary">My Projects</h1>
			</div>

			{% for project in projects %}
			<div class="projects__items">
				<div class="projects__item">
					<img src="{{ project.img.url }}" alt="{{ project.title }}">
					<h4 class="projects__title">{{ project.title }}</h4>
					<div class="projects__btns">
						<a href="{{ project.demo }}" class="projects__btn">
							<i class="fas fa-eye"></i> Preview
						</a>
						<a href="{{ project.github }}" class="projects__btn">
							<i class="fab fa-github"></i> Github 
						</a>
					</div>
				</div>
					<p class="project__desc">{{ project.description }}</p>
				</div>
				{% endfor %}
		</section>

{% endblock content %}
